.profile {
    margin-top: 30px;

    .top {
        display: flex;
        align-items: center;
        position: relative;

        .set-pp {
            opacity: 0;
            
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            border-radius: 50%;
            width: 230px;
            height: 230px;
            border: 0;
            background-color: rgba(0, 0, 0, 0.623);
            color: white;
            font-size: 16px;
            font-weight: 600;
            p {
                margin-top: 10px;
            }

            &:hover {
                opacity: 1;
            }
        }

        
        .profilePic {
            border-radius: 50%;
            width: 230px;
            height: 230px;
            filter: drop-shadow(2px 2px 25px rgba(0, 0, 0, 0.25));
        }

        .info {
            margin-left: 20px;

            .i-profile {
                font-weight: 600;
                font-size: 15px;
                margin-bottom: 0;
            }
            .i-username {
                margin: 0;
                font-weight: 700;
                font-size: 64px;
            }
            .i-info {
                margin-top: 25px;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }

    .bot {
        margin-top: 35px;
        margin-left: -30px;
        margin-right: -30px;
        height: 80vh;
        background: rgba(0, 0, 0, 0.24);
    }

    .popup {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.521);

        .content {

            .top-menu {
                display: flex;
                align-items: flex-start;

                img:hover{
                    cursor: pointer;
                }
            }

            background-color: #282828;
            border-radius: 10px;
            padding: 20px;
            width: 500px;

            .disclaimer {
                font-size: 10px;
                font-weight: 500;
            }

            .parent {
                display: flex;
                align-items: center;

                .other-input {
                    margin-left: 20px;

                    .username-input {
                        width: 280px;
                        height: 35px;
                        border-radius: 5px;
                        border: 0;
                        outline: none;
                        background-color: #3e3e3e;
                        color: white;
                        padding-left: 10px;
                        font-weight: 500;
                        &:focus {
                            outline: 1px solid rgba(255, 255, 255, 0.274);
                        }
                    }
                    .form-submit {
                        background-color: white;
                        border: 0;
                        height: 50px;
                        width: 100px;
                        border-radius: 50px;
                        margin-top: 10px;
                        font-weight: bold;

                        &:hover {
                            cursor: pointer;
                            transform: scale(1.03);
                        }
                    }
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }

            .title {
                font-size: 20px;
                margin: 0;
                font-weight: 700;
                margin-bottom: 30px;
            }

            .upload-pp {
                width: 175px;
                height: 175px;
                border-radius: 50%;
                filter: drop-shadow(2px 2px 25px rgba(0, 0, 0, 0.25));
            }
            .upload-pp-label input[type="file"]{
                display: none
            }

            .upload-pp-label {
                position: relative;

                .hover-effect {
                    opacity: 0;
                    position: absolute;
                    bottom: 4px;
                    left: 0;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    width: 175px;
                    height: 175px;
                    background-color: rgba(0, 0, 0, 0.507);
                    border-radius: 50%;

                    .title {
                        font-size: 15px;
                        margin-top: 10px;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}